body{
	position:relative;
	min-height:100%;
	top:0px;
	margin: 0;
	font-family: lato;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
}
.tab {
    
    float: left;
    margin-left: 10px;
}

}
div.gallery {
    margin: 10px;
	background-color: #3a6070;
    border: 1px solid #4682B4;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #3a6070;
	background-color: #4682B4;
	transform: scale(1.1);
}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.gallery1 {
    margin-left: 25px;
    margin-right: 25px;
	margin-bottom: 15px;
	margin-top: 5px;
    float: left;
    width: 200px;
}

.gallery1:hover {
	transform: scale(1.1);
}

.gallery1 img {
    width: 100%;
    height: auto;
}


.gallery2 {
    margin-left: 25px;
    margin-right: 25px;
	margin-bottom: 15px;
	margin-top: 5px;
    float: left;
    width: 480px;
}

.gallery2:hover {
	transform: scale(1.1);
}

.gallery2 img {
    width: 100%;
    height: auto;
}

.title_bg {
	background-color:white;
	font-size:75px;
	color:#4682B4;
	padding-top:12px;	
	width: 100%;
	opacity:0.7;
}

table{
	border-collapse: collapse; 	/*to reduce the space between cells*/
}

table th{ 						/* to change th things */
	text-align: left;
	background-color: #3a6070;
	color: #fff;
	padding: 4px 30px 4px 8px; 
}

table td{						/* to change td things */
	border:1px solid #e3e3e3;
	padding: 4px 8px;
}

table tr:nth-child(odd) td{		/* to change odd number rows color */
	background-color: #e7edf0;
}

.nav_bar{
	border-bottom: 1px solid #000000;
	width: 100%;
	background: black;
	margin-top: 0px;
	margin-bottom: 0px;
	opacity: 0.8;
	height: 90px;
}
.nav_bar ul{
	list-style: none;			/*to remove the dots of the list*/
	position: absolute;
    margin-top: 20px;
	margin-left:5px;
    padding: 0;
}
.nav_bar ul li{
	float: left;				/*to place the tabs sidely one by one*/
	margin-top:5px;			
	font-size: 15px;
	font-weight: bold;			/*bolding the bars*/
	margin-right: 5px;
}
.nav_bar ul li a{
	text-decoration: none;
	color: white;
	padding-top: 5px;
	border: 1px solid #000000;
	padding: 10px;
	border-radius: 25px;
	width: 100px;
	display: block;
	text-align: center;	
	opacity: 0.3;
}

.nav_bar ul li a:hover{
	text-decoration: none;
	color: #000000;
	background: #4682B4;
	transition: all 0.9s ease 0s; 
	opacity: 0.7;
}
.nav_bar ul li a#onlink{ 		/*to show using tab is working so no color change*/
	color: #000000;
	background: #ffffff;
	border: 1px solid #ffffff;
}
.nav_bar ul li a#onlink:hover{
	color: #000000;
	background: #ffffff;
}
.wrapper {
    position: absolute;
	width: 20%;
	top: 56%;
	right: 1%;
}

.search-box {
	width: 450px;
	height: 100px;
	float:right;
}

.input {
	position: absolute;
	top: 20px;
	right: 50px;
	box-sizing: border-box;
	width: 0px;
	height: 63px;
	padding: 0 20px;
	outline: none;
	font-size: 18px;
	border-radius: 50px;
	color: #4682B4;
	border: 3px solid #4682B4;
	transition: all 0.8s ease;
}
.btn {
	position: absolute;
	width: 80px;
	height: 80px;
	background: #4682B4;
	border-radius: 50%;
	right: 45px;
	top: 10px;
	cursor: pointer;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	color: #fff;
	transition: all 0.8s ease;
}

.input.active {
	width: 350px;
	right: 100px;
}
.btn.animate {
	transform: rotate(-360deg);
	right: 100px;
}
.main_container{
	float: left;
	display: block;
	width:100%;
	background: #f1f1f1;
	opacity: 0.8;
	margin-bottom: 14%;
	border-radius: 15px;
	padding: 1%;
}
.main_container p{
	font-size: 14px;
	margin: 0;
}

.main_container2{
	float: left;
	display: block;
	width:100%;
	background: #f1f1f1;
	opacity: 0.8;
	margin-bottom: 12px;
	border-radius: 15px;
	padding: 1%;
}
.main_container2 h1{
	font-size: 25px;
	color: #3a6070;
	opacity: 0.8;
}

.main_container2 p{
	font-size: 14px;
	margin: 0;
}
.main_container1 {
	float: left;
	display: block;
	width:100%;
	background: #f1f1f1;
	opacity: 0.8;
	margin-bottom: 14%;
	border-radius: 15px;
	padding-top: 0.3%;
	padding-left: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
}
.main_container1 h1{
	font-size: 25px;
	color: #3a6070;
	opacity: 0.8;
}
.main_container1 p1{
	font-size: 15px;

}
.intro_area {
	float: left;
	display: block;
	width:100%;
	background: #f1f1f1;
	opacity: 0.8;
	margin-bottom: 14%;
	border-radius: 15px;
	padding: 1%;
} 
.intro_image {

} 
/*.intro_image img {
	float: left;
	width: 5%;
	padding: 0.5%;
	margin-top: 5px;
	margin-right: 0.8%;	
}*/
.intro_text {
	float: left;
	width: 100%;
	padding-bottom: 3%;
} 
.intro_text h1 {
	font-size: 25px;
	color: #3a6070;
	opacity: 0.8;
} 
.intro_text p1 {
	font-size: 16px;
	line-height: 20px;
	opacity: 0.8;
} 
.container{
	font-size: 10px;
	color:#4682B4;
	position:bottom;	
}
.footer_area {
	background: black;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity:0.9;
} 
.copyright {
	float: left;
	width: 50%;
} 
.copyright p {
	text-align: left;
	font-size: 12px;	
	padding-left: 15px;
	opacity: none;
} 
.designer {
	float: right;
	width: 50%;
} 
.designer p {
	text-align: right;
	font-size: 12px;
	padding-right: 15px;
	opacity: none;
} 
